<<<<<<< HEAD
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

legende {
	font-size: 12px;
=======
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

legende {
	font-size: 12px;
>>>>>>> 48f2bf9b361f46bfc6f3ac8e9ead8acdd2ade44f
}